<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">

    <menu>
        <add id="LeSite_CustomBar::bar" title="LeSite CustomBar" module="LeSite_CustomBar" resource="LeSite_CustomBar::bar" action="admin/system_config/edit/section/LeSite_CustomBar" sortOrder="999"/>
    </menu>
</config>